<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="Staff/fragments/header :: html_head">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<header th:replace="Staff/fragments/admin_header :: admin_header"></header>
<aside th:replace="Staff/fragments/librarian_sidebar :: librarian_sidebar">

</aside>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <section class="content-header">
        <h1>
            General Form Elements
            <small>Preview</small>
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">APPLICATION DETAIL</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" th:action="@{/librarian/application/save}" th:object="${application}" method="POST" id="bookForm" onsubmit="return validateForm()">
                        <div class="box-body">
                            <div th:if="${errorMessage}" class="alert alert-danger">
                                <span th:text="${errorMessage}"></span>
                            </div>
                            <input type="hidden" th:field="*{id}" />
                            <input type="hidden" th:field="*{user}" />
                            <input type="hidden" th:field="*{borrowIndex}" />
                            <div class="form-group">
                                <label for="bookName">Book Borrow <span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="bookName" th:field="*{borrowIndex.book_item.book.name}" disabled>
                            </div>

                            <div class="form-group">
                                <label>Application Type</label>
                                <select class="form-control" th:field="*{application_type}">
                                    <option th:each="type : ${applicationTypes}"
                                            th:value="${type.id}"
                                            th:text="${type.application_type}"
                                            th:selected="${application.application_type != null && type.id == application.application_type.id}">
                                    </option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label >Status</label>
                                <select class="form-control" th:field="*{status}">
                                    <option value="Accept" th:selected="${application.status == 'Accept'}">Accept</option>
                                    <option value="Denied" th:selected="${application.status == 'Denied'}">Denied</option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label for="reason">Reason <span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="reason" th:field="*{reason}" disabled>
                            </div>

                            <div class="form-group">
                                <label>Response</label>
                                <textarea class="form-control" rows="3" placeholder="Enter response" th:field="*{response}"></textarea>
                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    <script>
                        function validateForm() {
                            const response = document.getElementById("response").value.trim();

        // Check if the response textarea is empty
        if (response === "") {
            alert("Please enter a response.");
            return false;
        }

        return true;
                        }
                    </script>



                </div>
                <!-- /.box -->

            </div>

        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
</body>
</html>