<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="Customer/fragments/header :: html_head">
</head>
<body>
<header th:replace="Customer/fragments/header :: header"></header>

<!-- Start: Page Banner -->
<section class="page-banner news-listing-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>News Listing</h2>
            <span class="underline center"></span>
            <p class="lead"></p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="index-2.html">Home</a></li>
                <li>News</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Products Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="main-news-list">
                <div class="container">
                    <!-- Start: Search Section -->
                    <section class="search-filters">
                        <div class="filter-box">
                            <h3>Event</h3>
                            <form action="http://libraria.demo.presstigers.com/news-events-detail.html" method="get">
                            </form>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <!-- End: Search Section -->
                    <div class="row">
                        <div class="col-md-9 col-md-push-3">
                            <div class="news-list-detail">
                                <div class="news-list-box">
                                    <div class="single-news-list">
                                        <figure>
                                            <img th:src="@{'/uploads/' + ${newsItem.image_url}}" style="width: 847.5px; height: 432.52px;" alt="News &amp; Event">
                                        </figure>
                                        <div class="content-block">
                                            <div class="member-info">
                                                <div class="content_meta_category">
                                                    <span class="arrow-right"></span>
                                                    <a href="#." rel="category tag">EVENT</a>
                                                </div>
                                                <ul class="news-event-info">
                                                    <li>
                                                        <a href="#" target="_blank">
                                                            <i class="fa fa-calendar"><span th:text="${#temporals.format(newsItem.date_created, 'yyyy-MM-dd')}"></span></i>                                                        </a>
                                                    </li>
                                                </ul>
                                                <h2 th:text="${newsItem.title}"></h2>
                                                <p th:text="${newsItem.description}"></p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="related-event text-center">

                                </div>
                            </div>
                        </div>
                        <div th:replace="Customer/fragments/NewPage_sidebar :: newPage_sidebar">

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Products Section -->

<footer th:replace="Customer/fragments/footer :: html_foot">

</footer>
<!-- End: Footer -->

<div th:replace="Customer/fragments/footer_script :: script">

</div>
</body>
</html>