<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="Staff/fragments/header :: html_head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<header th:replace="Staff/fragments/admin_header :: admin_header"></header>
<aside th:replace="Staff/fragments/admin_sidebar :: admin_sidebar"></aside>

<div class="container mt-5">
    <h1 class="text-center">Add New Staff</h1>

    <!-- Display error message -->
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
    </div>

    <form th:action="@{/staff/add}" method="post">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
        </div>

        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" id="phone" name="phone" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="roleId">Role</label>
            <select id="roleId" name="roleId" class="form-control" required>
                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
        </div>

        <!-- Submit and Cancel Buttons -->
        <button type="submit" class="btn btn-primary">Add Staff</button>
        <a th:href="@{/staff/list}" class="btn btn-secondary">Cancel</a> <!-- Cancel button -->
    </form>

    <footer th:replace="Staff/fragments/admin_footer :: admin_footer"></footer>
</div>
</body>
</html>
