<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/Staff/bootstrap/css/manageAccountUser.css}">


<head th:replace="Staff/fragments/header :: html_head">
  <title>User List</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="hold-transition skin-blue sidebar-mini">
<header th:replace="Staff/fragments/admin_header :: admin_header"></header>
<aside th:replace="Staff/fragments/admin_sidebar :: admin_sidebar"></aside>
<div class="content-wrapper">
  <h1 class="text-center">Manage User</h1>

  <!-- Search Form -->
  <form class="form-inline mb-4" th:action="@{/admin/dashboard/user/search}" method="get">
    <div class="form-group mx-sm-3 mb-2">
      <input type="text" class="form-control" name="name" placeholder="Search by User Name" th:value="${searchName}">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
    <!-- Add New User Button -->
    <!--    <a th:href="@{/user/add}" class="btn btn-success mb-2 mx-sm-2">Add New User</a>-->
    <button type="button" class="btn btn-success mb-2 mx-sm-2" onclick="openAddUserModal()">Add New User</button>
  </form>

  <!-- Add User Modal -->
  <div id="addUserModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeAddUserModal()">&times;</span>
      <h2>Add New User</h2>

      <!-- Add User Form -->
      <form th:action="@{/admin/dashboard/user/list}" method="post">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" id="phone" name="phone" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="roleId">Role</label>
          <select id="roleId" name="roleId" class="form-control" required>
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
          </select>
        </div>

        <!-- Submit and Cancel Buttons -->
        <button type="submit" class="btn btn-primary">Add User</button>
        <a th:href="@{/admin/dashboard/user/list}" class="btn btn-secondary">Cancel</a> <!-- Cancel button -->
      </form>
    </div>
  </div>


  <!-- Notification Message -->
  <div th:if="${message}" class="alert alert-info" th:text="${message}" id="flash-message"></div>
  <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>


  <!-- User List Table -->
  <table class="table table-bordered mt-4">
    <thead class="thead-light">
    <tr>
      <th>User ID</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(users)}">
      <td colspan="7" class="text-center">No User found</td>
    </tr>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.phone}"></td>
      <td th:text="${user.role.name}"></td>
      <td>

<!--        <button type="button" class="btn btn-primary"-->
<!--                th:attr="onclick='openUpdateStaffModal()'">-->
<!--          <i class="fa-solid fa-pen-to-square"></i>-->
<!--        </button>-->

<!-- </button>-->

        <a th:href="@{/admin/dashboard/user/update/{id}(id=${user.id})}" class="btn btn-primary">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>

        <!-- Button Delete -->
        <button class="btn btn-danger" th:attr="onclick='openDeleteModal(' + ${user.id} + ')'" type="button">
          <i class="fa-solid fa-trash"></i>
        </button>

      </td>
    </tr>
    </tbody>
  </table>

  <!-- Update User Modal -->
  <div id="updateUserModal" class="modal" style="display:none;">
    <div class="modal-content">
      <span class="close" onclick="closeUpdateUserModal()">&times;</span>
      <h2>Update User</h2>

      <!-- Update User Form -->
      <form id="updateUserForm" th:action="@{/admin/dashboard/user/list}" method="post">
        <input type="hidden" id="updateUserId" name="id" />
        <div class="form-group">
          <label for="updateLastName">Last Name</label>
          <input type="text" id="updateLastName" name="lastName" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="updateFirstName">First Name</label>
          <input type="text" id="updateFirstName" name="firstName" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="updateEmail">Email</label>
          <input type="email" id="updateEmail" name="email" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="updatePhone">Phone</label>
          <input type="tel" id="updatePhone" name="phone" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="updateRoleId">Role</label>
          <select id="updateRoleId" name="roleId" class="form-control" required>
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" onclick="closeUpdateUserModal()">Cancel</button>
      </form>
    </div>
  </div>



  <!-- Delete Confirmation Modal -->
  <div id="deleteModal" class="modal" style="display:none;">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h1>Are you sure you want to delete this User?</h1>
      <button id="confirmDelete" class="btn btn-danger">Delete</button>
      <button class="btn btn-secondary" onclick="closeDeleteModal()">Cancel</button>
    </div>
  </div>


  <!-- Pagination -->
  <div class="pagination-wrapper">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" th:class="${currentPage == 0 || totalPages == 0} ? 'disabled'">
          <a class="page-link" th:href="@{/admin/dashboard/user/list(page=${currentPage - 1}, size=${size})}" tabindex="-1"><</a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:class="${i == currentPage} ? 'active'">
          <a class="page-link" th:href="@{/admin/dashboard/user/list(page=${i}, size=${size})}" th:text="${i + 1}"></a>
        </li>
        <li class="page-item" th:class="${currentPage + 1 == totalPages || totalPages == 0} ? 'disabled'">
          <a class="page-link" th:href="@{/admin/dashboard/user/list(page=${currentPage + 1}, size=${size})}">></a>
        </li>
      </ul>
    </nav>
  </div>

</div>

<footer th:replace="Staff/fragments/admin_footer :: admin_footer"></footer>
<script th:src="@{/Staff/bootstrap/js/manageAccountUser.js}"></script>
</body>
</html>
