<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="Customer/fragments/header :: html_head">
</head>

<body>
<header th:replace="Customer/fragments/customer_header :: customer_header"></header>
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Books & Media Listing</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="index-2.html">Home</a></li>
                <li>Books & Media</li>
            </ul>
        </div>
    </div>
</section>

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="checkout-main">
                <div class="container">
                    <div class="row">
                        <div class="cart-head">
                            <div class="col-xs-12 col-sm-6 account-option">
                                <strong>Scott Fitzgerald</strong>
                                <ul>
                                    <li><a href="#">Edit Account</a></li>
                                    <li class="divider">|</li>
                                    <li><a href="#">Edit Pin </a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6 library-info">
                                <ul>
                                    <li>
                                        <strong>Home Library:</strong>
                                        Stephen A. Schwarzman Building
                                    </li>
                                    <li>
                                        <strong>Email:</strong>
                                        <a href="mailto:scottfitzgerald@gmail.com">scottfitzgerald@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12">
                            <article class="page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <form action="http://libraria.demo.presstigers.com/checkout.html" class="checkout woocommerce-checkout" method="post" name="checkout">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <h2>Contact Information</h2>
                                                    <span class="underline left"></span>
                                                    <div class="woocommerce-info">
                                                        <div class="col-sm-7">
                                                            <p class="input-required">
                                                                <label>
                                                                    <span class="first-letter">Email Address</span>
                                                                    <span class="second-letter">*</span>
                                                                </label>
                                                                <input type="text" value="" class="input-text">
                                                            </p>
                                                            <p class="input-required">
                                                                <label>
                                                                    <span class="first-letter">Password</span>
                                                                    <span class="second-letter">*</span>
                                                                </label>
                                                                <input type="password" value="" class="input-text">
                                                            </p>
                                                            <input type="submit" class="btn btn-default" value="Send application">
                                                        </div>

                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>

                                            </div>

                                    </form>
                                </div>
                        </div><!-- .entry-content -->
                        </article>
                    </div>
                </div>
            </div>
    </div>
    </main>
</div>
</div>
</body>
</html>