<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="html_head">


</head>

<body>

<aside th:fragment="admin_sidebar" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>


            <li>
                <a th:href="@{'/admin/dashboard/list'}">
                    <i class="fa fa-th"></i> <span>Dashboard</span>
                </a>
                <a th:href="@{'/books'}">
                    <i class="fa fa-th"></i> <span>Book</span>
                </a>
                <a th:href="@{'/librarian/requestBorrow'}">
                    <i class="fa fa-th"></i> <span>Request Borrow Book Manage</span>
                </a>
                <a th:href="@{'/librarian/trackBorrowBook'}">
                    <i class="fa fa-th"></i> <span>Track Borrow Book Manage</span>
                </a>
                <a th:href="@{'/admin/dashboard/user/list'}">
                    <i class="fa fa-th"></i> <span>User Manage</span>
                </a>
                <a th:href="@{'/admin/dashboard/category/list'}">
                    <i class="fa fa-th"></i> <span>Category Manage</span>
                </a>
                <a th:href="@{'/authors'}">
                    <i class="fa fa-th"></i> <span>Author Manage</span>
                </a>
                <a th:href="@{'/publishers'}">
                    <i class="fa fa-th"></i> <span>Publisher Manage</span>
                </a>
                <a th:href="@{'/news/list'}">
                    <i class="fa fa-th"></i> <span>News Manage</span>
                </a>

            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
</body>
</html>