<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="Customer/fragments/header :: html_head">
</head>

<body>
<header th:replace="Customer/fragments/customer_header :: customer_header"></header>
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Books & Media Listing</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="index-2.html">Home</a></li>
                <li>Books & Media</li>
            </ul>
        </div>
    </div>
</section>

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="cart-main">
                <div class="container">
                    <div class="row">
                        <div class="cart-head">
                            <div class="col-xs-12 col-sm-6 account-option">
                                <strong>Scott Fitzgerald</strong>
                                <ul>
                                    <li><a href="#">Edit Account</a></li>
                                    <li class="divider">|</li>
                                    <li><a href="#">Edit Pin </a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6 library-info">
                                <ul>
                                    <li>
                                        <strong>Home Library:</strong>
                                        Stephen A. Schwarzman Building
                                    </li>
                                    <li>
                                        <strong>Email:</strong>
                                        <a href="mailto:scottfitzgerald@gmail.com">scottfitzgerald@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div class="woocommerce table-tabs" id="responsiveTabs">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><b class="arrow-up"></b><a data-toggle="tab"
                                                                                          href="#sectionA">Cart</a>
                                            </li>
                                            <li><b class="arrow-up"></b> <a data-toggle="tab" th:href="@{/borrow/{customerId}(customerId=${customerId})}" >Track book borrow request</a>
                                            </li>

                                        </ul>
                                        <div class="tab-content">
                                            <form method="post" action="/cart/cart-page">
                                                <input type="hidden" name="customerId" th:value="${customerId}" />
                                                <!-- Hidden field to pass customerId -->
                                                <table class="table table-bordered shop_table cart">
                                                    <thead>
                                                    <tr>
                                                        <th class="product-name">Title</th>
                                                        <th class="product-quantity">Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <!-- Loop through bookItemList instead of books -->
                                                    <tr th:each="bookItem : ${bookItemList}">
                                                        <td data-title="Product" class="product-name">
                    <span class="product-thumbnail">
                        <a th:href="@{/book/details/{id}(id=${bookItem.book.id})}">
                            <img th:src="@{Customer/images/books-media/gird-view/book-media-grid-01.jpg}" alt="cart-product-1">
                        </a>
                    </span>
                                                            <span class="product-detail">
                        <a th:href="@{/book/details/{id}(id=${bookItem.book.id})}">
                            <strong th:text="${bookItem.book.name}">Book Title</strong>
                        </a>
                        <p><strong>Author:</strong>
                            <span th:each="author : ${bookItem.book.authors}">
                                <span th:text="${author.name}">Author Name</span>
                            </span>
                        </p>
                        <p><strong>Category:</strong>
                            <span th:each="category : ${bookItem.book.categories}">
                                <span th:text="${category.name}"></span>
                            </span>
                        </p>
                        <p><strong>Condition:</strong>
                            <span th:text="${bookItem.condition}">Condition</span>
                        </p>
                    </span>
                                                        </td>
                                                        <td data-title="action" class="product-action">
                                                            <!-- Form for deleting bookItem from cart -->
                                                            <div class="form-delete">
                                                                <a th:href="@{/cart/delete(customerId=${customerId}, bookItemId=${bookItem.id})}" class="btn btn-dark-gray">
                                                                    Delete
                                                                </a>
                                                            </div>

                                                            <!-- Additional Actions (Add to Cart, Wishlist, etc.) -->
                                                            <div class="addition-action">
                                                                <small>Additional Actions:</small>
                                                                <ul>
                                                                    <li>
                                                                        <a th:href="@{/cart/addToCart/{id}(id=${bookItem.book.id})}">
                                                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a th:href="@{/cart/saveToWishlist/{id}(id=${bookItem.book.id})}">
                                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <!-- Submit button for borrowing books -->
                                                <input type="submit" class="btn btn-default" name="continue" value="Request to borrow book">
                                            </form>



                                        </div>
                                    </div>
                                </div><!-- .entry-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>