<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="Staff/fragments/header :: html_head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<header th:replace="Staff/fragments/admin_header :: admin_header"></header>
<aside th:replace="Staff/fragments/admin_sidebar :: admin_sidebar">

</aside>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           BOOK MANAGEMENT

        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{'/books'}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a th:href="@{'/books'}">Book</a></li>

        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Book Table</h3>
                    </div>
                    <a href="/books/addBook" class="btn btn-primary btn-block margin-bottom" style="width: 15%;">Add book</a>
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Book Id</th>
                                <th>Book Name</th>
                                <th>Customer Name</th>
                                <th>Borrow_requested at</th>
                                <th>Borrow_date</th>
                                <th>Return_date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="borrowIndex : ${borrowIndices}">
                                <td th:text="${borrowIndex.id}"></td>
                                <td th:text="${borrowIndex.book_item.book.id}"></td>
                                <td th:text="${borrowIndex.book_item.book.name}"></td>
                                <td th:text="${borrowIndex.customer.firstName}"></td>

                                <!-- Định dạng ngày yêu cầu (created_requested_at) -->
                                <td th:text="${#temporals.format(borrowIndex.created_requested_at, 'dd-MM-yyyy HH:mm:ss')}"></td>

                                <!-- Định dạng ngày mượn (borrow_date) -->
                                <td th:text="${#temporals.format(borrowIndex.borrow_date, 'dd-MM-yyyy')}"></td>

                                <!-- Định dạng ngày trả (return_date) -->
                                <td th:text="${#temporals.format(borrowIndex.return_date, 'dd-MM-yyyy')}"></td>

                                <td th:text="${borrowIndex.status_id.status}"></td>

                                <td>
                                    <a th:href="@{'/librarian/requestBorrow/accept/' + ${borrowIndex.id}}" class="btn btn-success">Accept</a>
                                    <a th:href="@{'/librarian/requestBorrow/deny/' + ${borrowIndex.id}}" class="btn btn-danger">Deny</a>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                        <!-- Pagination controls -->

                        <div class="text-center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <!-- Nút Previous -->
                                    <li th:classappend="${currentPage == 1} ? 'disabled'">
                                        <a th:href="@{/librarian/requestBorrow(page=${currentPage - 1}, size=${4})}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>

                                    <!-- Hiển thị các trang -->
                                    <li th:each="pageNum : ${#numbers.sequence(1, totalPages)}" th:classappend="${pageNum == currentPage} ? 'active'">
                                        <a th:href="@{/librarian/requestBorrow(page=${pageNum}, size=${4})}" th:text="${pageNum}">1</a>
                                    </li>

                                    <!-- Nút Next -->
                                    <li th:classappend="${currentPage == totalPages} ? 'disabled'">
                                        <a th:href="@{/librarian/requestBorrow(page=${currentPage + 1}, size=${4})}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->
</div>
</body>
<footer th:replace="Staff/fragments/admin_footer :: admin_footer">

</footer>
</html>