<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="Customer/fragments/header :: html_head">
</head>
<body>
<header th:replace="Customer/fragments/header :: header"></header>

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Books & Media Listing</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="index-2.html">Home</a></li>
                <li>Books & Media</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Products Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="booksmedia-detail-main">
                <div class="container">
                    <div class="row">
                        <!-- Start: Search Section -->
                        <section class="search-filters">
                            <div class="container">
                                <div class="filter-box">
                                    <h3>What are you looking for at the library?</h3>
                                </div>
                        </section>
                        <!-- End: Search Section -->
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-md-push-3">
                            <div class="booksmedia-detail-box">
                                <div class="single-book-box">
                                    <div class="post-thumbnail">
                                        <div class="book-list-icon yellow-icon"></div>
                                        <img alt="Book"
                                             th:src="@{/Customer/images/books-media/list-view/book-media-01.jpg}"/>
                                    </div>
                                    <div class="post-detail">
                                        <header class="entry-header">
                                            <h2 class="entry-title" th:text="${book.name}"></h2>
                                            <ul>
                                                <strong>Author:</strong>
                                                <li th:each="author : ${book.authors}">
                                                    <a th:text="${author.name}"></a>
                                                </li>
                                                <li><strong>Publisher: </strong><span
                                                        th:text="${book.publisher.name}"></span>
                                                </li>
                                            </ul>
                                        </header>
                                        <div class="entry-content post-buttons">
                                            <a href="#." class="btn btn-dark-gray">Place a Hold</a>
                                            <a href="#." class="btn btn-dark-gray">View sample</a>
                                            <a href="#." class="btn btn-dark-gray">Find Similar Titles</a>
                                        </div>
                                    </div>
                                </div>
                                <p th:text="${book.description}"><strong>Summary:</strong></p>
                            </div>
                        </div>
                        <div th:replace="Customer/fragments/HomePage_sidebar :: homePage_sidebar">

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Products Section -->

<!-- Start: Footer -->
<footer th:replace="Customer/fragments/footer :: html_foot">

</footer>
<!-- End: Footer -->

<div th:replace="Customer/fragments/footer_script :: script">

</div>
</body>
</html>